@{ 
    Layout = "_ComingSoonLayout";
    ViewBag.Title = "Çok Yakında";
}
<div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
    <h3 class="l1-txt2 txt-center p-b-40 respon1">
        Yakında  Burayı da Halledicem  Hocam:)
    </h3>
